{% extends "layout.html" %}

{% block content %}
<form class="login-form">
    <div class="container">
        <h3 class="md-typescale-display-medium">ログイン</h3>


            <div>
                <ul>
                    <md-outlined-text-field class="login-form" label="メールアドレス" ></md-outlined-text-field><br>
                </ul>
                <ul>      
                    <md-outlined-text-field class="login-form" label="パスワード" ></md-outlined-text-field><br>
                </ul>
                <ul>
                    <md-outlined-button type="login">ログイン</md-outlined-button>
                </ul>


            </div>

    </div>
</form>

{% endblock %}