{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <ul>
        <li>
            主食
        </li>
    </ul>
    <form action="/reserve" method="POST">
        <div>
            <input type="text" id="email" name="name" placeholder="ユーザー名"><br>
            <input type="email" id="#" name="e_mail" placeholder="メールアドレス"><br>
        </div>
        
        <div class="form-check form-check-inline">
            <label class="form-check-label" for="sample">sample</label>
            <input class="form-check-input" type="number" id="sample" name="buycnt" max="10" min="1" step="1" value="1" checked>
            
        </div>
        <div>
            <img class="img" src="..\..\static\img\OIG2.png"/>
        </div>

        <button type="submit" class="reserve btn">送信</button>
    </form>
<div>



{% endblock %}