{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <form action="/reserve" method="POST">
        <div>
            <p>ログイン</p>
            <input type="text" id="email" name="name" placeholder="ユーザー名"><br>
            <input type="email" id="#" name="e_mail" placeholder="メールアドレス"><br>
        </div>

        <div>
            <ul class="line">
                <li class="list"> 
                    <div>
                    <p>sample1</p>
                    <p>XXX円</p>
                   </div>
                    <img src="..\..\static\img\OIG2.png" width="200" height="200" alt=""><br>
                    <input class="form-check-input" type="number" id="sample" name="buycnt" max="10" min="0" step="1" value="0" style="width: 100px; height: 20px;" checked>
                </li>
                <li class="list">
                    <div>
                    <p>sample2</p>
                    <p>XXX円</p>
                    </div>
                    <img src="..\..\static\img\OIG2.png" width="200" height="200" alt=""><br>
                    <input class="form-check-input" type="number" id="sample" name="buycnt" max="10" min="0" step="1" value="0" style="width: 100px; height: 20px;" checked>
                </li>
                <li class="list">
                    <div>
                    <p>sample3</p>
                    <p>XXX円</p>
                    </div>
                    <img src="..\..\static\img\OIG2.png" width="200" height="200" alt=""><br>
                    <input class="form-check-input" type="number" id="sample" name="buycnt" max="10" min="0" step="1" value="0" style="width: 100px; height: 20px;" checked>
                </li>
            </ul>
        </div>

        <button type="submit" class="reserve btn">送信</button>
    </form>
<div>



{% endblock %}